---
Checks: >
  clang-analyzer-*,
  bugprone-*,
  cppcoreguidelines-*,
  performance-*,
  portability-*,
  modernize-*,
  readability-*,
  misc-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-missing-std-forward

WarningsAsErrors: '*'

HeaderFilterRegex: 'src/|include/|tests/'
FormatStyle: file
SystemHeaders: false
UseColor: true

CheckOptions:
  - key: modernize-loop-convert.MinConfidence
    value: reasonable

  - key: readability-function-size.LineThreshold
    value: '80'

  - key: performance-for-range-copy.WarnOnAllAutoCopies
    value: true
  
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true
  
  - key: cppcoreguidelines-rvalue-reference-param-not-moved.MoveFunctions
    value: 'polyfill::move'

# This doesnt work, so we disable the check instead.
# - key: cppcoreguidelines-missing-std-forward.ForwardFunction
#   value: 'polyfill::forward'